$font-family: "bebas-neue-by-fontfabric", sans-serif;
$primary-color: #64eebc;
$desktop-header-padding-top: 32px;

.desktop-header {
  padding-top: $desktop-header-padding-top;
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 auto;
  width: 100vw;
  display: flex;
  align-items: center;

  &__logo {
    font-family: $font-family;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 4px;
    text-align: center;
    color: $primary-color;

    &-part2 {
      font-weight: 300;
    }
  }

  &__section-logo {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 34px;
    line-height: 34px;
    text-align: left;
    margin-right: 64px;
  }

  &__header-plus-icon {
    width: 14px;
    height: 14px;
    margin-right: 12px;
  }

  &__add-movie {
    height: 18px;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 4px;
    text-align: left;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 0;
  }

  &__section-menu {
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__notification-icon {
    margin-right: 40px;
    width: 26px;
    height: 26px;
  }

  &__profile-icon {
    width: 40px;
    height: 40px;
  }
  &__menu-icon {
    width: 27px;
    height: 12px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 55px;
  }
}
