.movie-list {
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.movie-list__popular-link {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: 4px;
  display: block;
  color: #ffffff;
  background: transparent;
  border: none;
  margin: 0 auto 0;
  padding: 0;
}
.movie-list__dropdown-arrow {
  margin: 4px 0 0 11px;
  vertical-align: top;
  width: 13px;
  height: 8px;
}
.movie-list__dropdown-options {
  width: 100vw;
  height: 112px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 32px 24px;
  box-sizing: border-box;
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 10px 10px 2px rgba(0, 0, 0, 0.5);
}
.movie-list__dropdown-option-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-list__dropdown-option {
  position: relative;
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 4px;
  color: #ffffff;
  z-index: 1;
  cursor: pointer;
  margin: 0;
}
.movie-list__vector {
  width: 12px;
  height: 8px;
}
.movie-list__movie-thumbnails {
  display: flex;
  flex-direction: column;
}
.movie-list__first-movie-thumbnail {
  margin: 32px auto 20px;
  position: relative;
  cursor: pointer;
}
.movie-list__movie-thumbnail {
  margin: 0 auto 20px;
  position: relative;
  cursor: pointer;
}
.movie-list__last-movie-thumbnail {
  margin: 0 auto 52px;
  position: relative;
  cursor: pointer;
}
.movie-list__thumbnail-image {
  width: 327px;
  height: 172px;
}
.movie-list__thumbnail-overlay {
  position: absolute;
  width: 327px;
  padding: 0 5px;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  transition: background 0.3s ease-in;
}
.movie-list__play-title {
  overflow: hidden;
  color: transparent;
  transition: 0.3s;
  z-index: 1;
}
.movie-list__play-button {
  width: 48px;
  height: 48px;
  margin: 0 auto 24px;
  background: url("../../../public/img/popular-play.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.movie-list__movie-title {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 32px;
  z-index: 1;
}
.movie-list__rating-release {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 16px 24px 24px 24px;
}
.movie-list__star {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
.movie-list__rating {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.movie-list__release {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #ffffff;
}
.movie-list__thumbnail-gradient-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.78%, #000000 122.69%);
  width: 327px;
  height: 126px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.movie-list__thumbnail-overlay:hover {
  background: rgba(36, 36, 36, 0.6980392157);
  padding: 0;
}
.movie-list__thumbnail-overlay:hover .movie-list__play-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}
.movie-list__thumbnail-overlay:hover .movie-list__play-title .movie-list__play-button {
  width: 32px;
  height: 32px;
  margin: 0 16px 0 24px;
}
.movie-list__thumbnail-overlay:hover .movie-list__play-title .movie-list__play-button:hover {
  background: url("../../../public/img/play-hover.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.movie-list__thumbnail-overlay:hover .movie-list__play-title .movie-list__movie-title {
  width: 243px;
  margin: 0;
  text-align: start;
}
.movie-list__thumbnail-overlay:hover .movie-list__rating-release {
  display: flex;
}
.movie-list__thumbnail-overlay:hover .movie-list__thumbnail-gradient-overlay {
  display: none;
}

@media screen and (min-width: 480px) {
  .movie-list__dropdown-options {
    width: 300px;
    height: 102px;
    position: absolute;
    left: 50%;
    bottom: initial;
    padding: 30px 24px 24px;
    box-sizing: border-box;
    transform: translate(-50%);
  }
}
@media screen and (min-width: 700px) {
  .movie-list {
    width: 87.2vw;
  }
  .movie-list__movie-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    padding-bottom: 7.9vh;
  }
  .movie-list__first-movie-thumbnail {
    margin: 28px 20px 0 0;
  }
  .movie-list__movie-thumbnail {
    margin: 28px 20px 0 0;
  }
  .movie-list__last-movie-thumbnail {
    margin: 28px 20px 0 0;
  }
  .movie-list__thumbnail-image {
    width: 220px;
    height: 146px;
  }
  .movie-list__thumbnail-overlay {
    width: 220px;
    padding: 0 10px;
  }
  .movie-list__thumbnail-gradient-overlay {
    width: 220px;
    height: 100px;
  }
  .movie-list__play-button {
    width: 40px;
    height: 40px;
    margin: 0 auto 23px;
  }
  .movie-list__movie-title {
    margin: 0 0 14px;
  }
  .movie-list__rating-release {
    margin: 0 16px 16px 16px;
  }
  .movie-list__thumbnail-overlay:hover .movie-list__play-title {
    margin-bottom: 20px;
  }
  .movie-list__thumbnail-overlay:hover .movie-list__play-title .movie-list__play-button {
    width: 24px;
    height: 24px;
    margin: 0 12px 0 16px;
  }
  .movie-list__thumbnail-overlay:hover .movie-list__play-title .movie-list__movie-title {
    width: 152px;
  }
}
@media screen and (min-width: 1101px) {
  .movie-list__last-movie-thumbnail {
    margin: 28px 0 0 0;
  }
}
@media screen and (min-width: 1366px) {
  .movie-list {
    width: 220px;
    min-height: 695px;
  }
  .movie-list__movie-thumbnails {
    flex-direction: column;
    padding-bottom: 0;
  }
  .movie-list__dropdown-options {
    width: 241px;
    height: 102px;
    background: url("../../../public/img/dropdown.png");
    background-size: cover;
    position: absolute;
    left: initial;
    right: 6.9%;
    transform: initial;
    margin-top: 8px;
    padding: 30px 24px 24px;
    box-sizing: border-box;
  }
  .movie-list__first-movie-thumbnail {
    margin: 32px auto 20px;
  }
  .movie-list__movie-thumbnail {
    margin: 0 auto 20px;
  }
  .movie-list__last-movie-thumbnail {
    margin: 0;
  }
}/*# sourceMappingURL=MovieList.css.map */