$font-family: "bebas-neue-by-fontfabric", sans-serif;
$primary-color: #ffffff;

.movie-list {
  width: fit-content;
  box-sizing: border-box;

  &__popular-link {
    font-family: $font-family;
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 4px;
    display: block;
    color: $primary-color;
    background: transparent;
    border: none;
    margin: 0 auto 0;
    padding: 0;
  }

  &__dropdown-arrow {
    margin: 4px 0 0 11px;
    vertical-align: top;
    width: 13px;
    height: 8px;
  }

  &__dropdown-options {
    width: 100vw;
    height: 112px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    padding: 32px 24px;
    box-sizing: border-box;
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 4px 10px 10px 2px rgba(0, 0, 0, 0.5)
  }
  &__dropdown-option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__dropdown-option {
    position: relative;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: 4px;
    color: $primary-color;
    z-index: 1;
    cursor: pointer;
    margin: 0;
  }

  &__vector {
    width: 12px;
    height: 8px;
  }

  &__movie-thumbnails {
    display: flex;
    flex-direction: column;
  }

  &__first-movie-thumbnail {
    margin: 32px auto 20px;
    position: relative;
    cursor: pointer;
  }

  &__movie-thumbnail {
    margin: 0 auto 20px;
    position: relative;
    cursor: pointer;
  }

  &__last-movie-thumbnail {
    margin: 0 auto 52px;
    position: relative;
    cursor: pointer;
  }

  &__thumbnail-image {
    width: 327px;
    height: 172px;
  }

  &__thumbnail-overlay {
    position: absolute;
    width: 327px;
    padding: 0 5px;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    transition: background 0.3s ease-in;
  }
  &__play-title {
    overflow: hidden;
    color: transparent;
    transition: 0.3s;
    z-index: 1;
  }

  &__play-button {
    width: 48px;
    height: 48px;
    margin: 0 auto 24px;
    background: url("../../../public/img/popular-play.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__movie-title {
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 4px;
    text-align: center;
    color: $primary-color;
    margin: 0 0 32px;
    z-index: 1;
  }

  &__rating-release {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 16px 24px 24px 24px;
  }

  &__star {
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }

  &__rating {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 2px;
    color: $primary-color;
    display: flex;
    align-items: center;
  }

  &__release {
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 2px;
    color: $primary-color;
  }

  &__thumbnail-gradient-overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 22.78%,
      #000000 122.69%
    );
    width: 327px;
    height: 126px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__thumbnail-overlay:hover {
    background: #242424b2;
    padding: 0;
  }

  &__thumbnail-overlay:hover .movie-list__play-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;

    .movie-list__play-button {
      width: 32px;
      height: 32px;
      margin: 0 16px 0 24px;

      &:hover {
        background: url("../../../public/img/play-hover.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .movie-list__movie-title {
      width: 243px;
      margin: 0;
      text-align: start;
    }
  }

  &__thumbnail-overlay:hover .movie-list__rating-release {
    display: flex;
  }
  

  &__thumbnail-overlay:hover .movie-list__thumbnail-gradient-overlay {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .movie-list {
    &__dropdown-options {
      width: 300px;
      height: 102px;
      position: absolute;
      left: 50%;
      bottom: initial;
      padding: 30px 24px 24px;
      box-sizing: border-box;
      transform: translate(-50%);
    }
  }
}

@media screen and (min-width: 700px) {
  .movie-list {
    width: 87.2vw;

    &__movie-thumbnails {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      overflow: hidden;
      flex-wrap: wrap;
      padding-bottom: 7.9vh;
    }

    &__first-movie-thumbnail {
      margin: 28px 20px 0 0;
    }

    &__movie-thumbnail {
      margin: 28px 20px 0 0;
    }

    &__last-movie-thumbnail {
      margin: 28px 20px 0 0;
    }

    &__thumbnail-image {
      width: 220px;
      height: 146px;
    }

    &__thumbnail-overlay {
      width: 220px;
      padding: 0 10px;
    }

    &__thumbnail-gradient-overlay {
      width: 220px;
      height: 100px;
    }

    &__play-button {
      width: 40px;
      height: 40px;
      margin: 0 auto 23px;
    }

    &__movie-title {
      margin: 0 0 14px;
    }

    &__rating-release {
      margin: 0 16px 16px 16px;
    }

    &__thumbnail-overlay:hover .movie-list__play-title {
      margin-bottom: 20px;

      .movie-list__play-button {
        width: 24px;
        height: 24px;
        margin: 0 12px 0 16px;
      }
      .movie-list__movie-title {
        width: 152px;
      }
    }
  }
}

@media screen and (min-width: 1101px) {
  .movie-list {
    &__last-movie-thumbnail {
      margin: 28px 0 0 0;
    }
  }
}

@media screen and (min-width: 1366px) {
  .movie-list {
    width: 220px;
    min-height: 695px;

    &__movie-thumbnails {
      flex-direction: column;
      padding-bottom: 0;
    }

    &__dropdown-options {
      width: 241px;
      height: 102px;
      background: url("../../../public/img/dropdown.png");
      background-size: cover;
      position: absolute;
      left: initial;
      right: 6.9%;
      transform: initial;
      margin-top: 8px;
      padding: 30px 24px 24px;
      box-sizing: border-box;
    }

    &__first-movie-thumbnail {
      margin: 32px auto 20px;
    }

    &__movie-thumbnail {
      margin: 0 auto 20px;
    }

    &__last-movie-thumbnail {
      margin: 0;
    }
  }
}
