.movie-list {
  width: fit-content;
  margin: 7.9vh auto 0;
  box-sizing: border-box;

  .popular-link {
    font-family: "bebas-neue-by-fontfabric";
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 4px;
    display: block;
    color: #ffffff;
    background: transparent;
    border: none;
    margin: 0 auto 0;
    padding: 0;
  }

  .dropdown-arrow {
    margin: 4px 0 0 11px;
    vertical-align: top;
    width: 13px;
    height: 8px;
  }

  .dropdown-options {
    width: 100vw;
    height: 112px;
    position: fixed;
    bottom: 0;
    z-index: 2;
    padding: 32px 24px;
    box-sizing: border-box;
    background: #242424;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dropdown-option-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dropdown-option {
      position: relative;
      font-family: "bebas-neue-by-fontfabric";
      font-size: 16px;
      font-weight: 200;
      line-height: 16px;
      letter-spacing: 4px;
      color: #ffffff;
      z-index: 1;
      cursor: pointer;
      margin: 0;
    }

    .vector {
      width: 12px;
      height: 8px;
    }
  }

  .movie-thumbnails {
    display: flex;
    flex-direction: column;
  }

  .first-movie-thumbnail {
    margin: 32px auto 20px;
    position: relative;
    cursor: pointer;
  }

  .movie-thumbnail {
    margin: 0 auto 20px;
    position: relative;
    cursor: pointer;
  }

  .last-movie-thumbnail {
    margin: 0 auto 52px;
    position: relative;
    cursor: pointer;
  }

  .thumbnail-image {
    width: 327px;
    height: 172px;
  }

  .thumbnail-overlay {
    position: absolute;
    width: 327px;
    padding: 0 5px;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    transition: background 0.3s ease-in;

    .play-title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      overflow: hidden;
      color:transparent;
      transition:0.3s;
    }

    .list-play-button {
      width: 48px;
      height: 48px;
      margin: 0 auto 24px;
      background: url("../../../public/img/popular-play.png");
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .movie-title {
      font-family: "bebas-neue-by-fontfabric";
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 4px;
      text-align: center;
      color: #ffffff;
      margin: 0 0 32px;
      z-index: 1;
    }

    .rating-release {
      display: none;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      margin: 16px 24px 24px 24px;
    }

    .star {
      width: 12px;
      height: 12px;
      margin-right: 6px;
    }

    .rating {
      font-family: "bebas-neue-by-fontfabric";
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 2px;
      color: #ffffff;
      display: flex;
      align-items: center;
    }

    .release {
      font-family: "bebas-neue-by-fontfabric";
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: 2px;
      color: #ffffff;
    }

    .thumbnail-gradient-overlay {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 22.78%,
        #000000 122.69%
      );
      width: 327px;
      height: 126px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .thumbnail-overlay:hover {
    background: #242424b2;
    padding: 0;
    
  }

  .thumbnail-overlay:hover .play-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;

    .list-play-button {
      width: 32px;
      height: 32px;
      margin: 0 16px 0 24px;
      
      &:hover {
        background: url("../../../public/img/play-hover.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .movie-title {
      width: 243px;
      margin: 0;
      text-align: start;
    }
  }

  .thumbnail-overlay:hover .rating-release {
    display: flex;
  }

  .thumbnail-overlay:hover .thumbnail-gradient-overlay {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .movie-list {
    .dropdown-options {
      width: 300px;
      height: 102px;
      position: absolute;
      left: 50%;
      bottom: initial;
      margin-top: 8px;
      padding: 30px 24px 24px;
      box-sizing: border-box;
      transform: translate(-50%);
    }
  }
}

@media screen and (min-width: 700px) {
  .movie-list {
    width: 87.2vw;

    .movie-thumbnails {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      overflow: hidden;
      flex-wrap: wrap;
      padding-bottom: 7.9vh;
    }

    .first-movie-thumbnail {
      margin: 28px 20px 0 0;
    }

    .movie-thumbnail {
      margin: 28px 20px 0 0;
    }

    .last-movie-thumbnail {
      margin: 28px 20px 0 0;
    }

    .thumbnail-image {
      width: 220px;
      height: 146px;
    }

    .thumbnail-overlay {
      width: 220px;
      padding: 0 10px;

      .thumbnail-gradient-overlay {
        width: 220px;
        height: 100px;
      }

      .list-play-button {
        width: 40px;
        height: 40px;
        margin: 0 auto 23px;
      }

      .movie-title {
        margin: 0 0 14px;
      }

      .rating-release {
        margin: 0 16px 16px 16px;
      }
    }

    .thumbnail-overlay:hover .play-title {
      margin-bottom: 20px;

      .list-play-button {
        width: 24px;
        height: 24px;
        margin: 0 12px 0 16px;
      }
      .movie-title {
        width: 152px;
      }
    }
  }
}

@media screen and (min-width: 1101px) {
  .movie-list {
    .last-movie-thumbnail {
      margin: 28px 0 0 0;
    }
  }
}

@media screen and (min-width: 1366px) {
  .movie-list {
    width: 220px;
    height: 746.8px;
    margin: 80px 7.2vw 0;

    .movie-thumbnails {
      flex-direction: column;
      padding-bottom: 0;
    }

    .dropdown-options {
      width: 241px;
      height: 102px;
      background: url("../../../public/img/dropdown.png");
      background-size: cover;
      position: absolute;
      left: initial;
      right: 7.2vw;
      transform: initial;
      margin-top: 8px;
      padding: 30px 24px 24px;
      box-sizing: border-box;
    }

    .first-movie-thumbnail {
      margin: 32px auto 20px;
    }

    .movie-thumbnail {
      margin: 0 auto 20px;
    }

    .last-movie-thumbnail {
      margin: 0 auto 52px;
    }
  }
}
