.app-container {
  position: relative;
  background: #242424;
}

.content-container {
  position: relative;
  z-index: 1;
}

.background-image {
  width: 100%;
  height: 561px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.gradient-overlay {
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
  height: 193px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 480px) {
  .AppContainer {
    min-height: 100vh;
  }

  .background-image {
    height: 100vh;
  }

  .gradient-overlay {
    display: none;
  }
}
