div.modal-dialog {
  max-width: 100vw;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.modal-dialog div.modal-content {
  width: 100vw;
  min-height: 100vh;
  background: #242424;
  color: #ffffff;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.add-movie__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-movie__title {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 4px;
  color: #64eebc;
  margin: 96px 0 0;
}
.add-movie__container {
  width: 87.2vw;
  height: 10vh;
  border: 1px dashed #ffffff;
  padding: 0 10px;
  margin: 72px 0px 56px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-movie__container-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 4px;
}
.add-movie__container-clip {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.add-movie__divider {
  width: 248px;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
  overflow: hidden;
}
.add-movie__divider-title {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 8px;
}
.add-movie__upload-button {
  width: 248px;
  height: 56px;
  padding: 0;
  border: 0;
  border-radius: none;
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 4px;
  margin: 96px 0 24px;
  color: #242424;
}
.add-movie__exit-button {
  width: 248px;
  height: 56px;
  padding: 0;
  border: solid 1px rgba(255, 255, 255, 0.5019607843);
  border-radius: none;
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 4px;
  color: #ffffff;
  background-color: transparent;
  margin: 0;
}
.add-movie__loading {
  width: 87.2vw;
  display: flex;
  flex-direction: column;
  margin: 72px 0 67px;
}
.add-movie__loading-label {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 4px;
  margin-bottom: 16px;
}
.add-movie__loading-progress {
  width: 100%;
  border: none;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.add-movie__loading-progress::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.add-movie__loading-progress::-webkit-progress-value {
  background-color: #64eebc;
}
.add-movie__loading-progress::-moz-progress-bar {
  background-color: #64eebc;
}
.add-movie__loading-progress-error {
  width: 100%;
  border: none;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5019607843);
}
.add-movie__loading-progress-error::-webkit-progress-value {
  background-color: #ff0000;
}
.add-movie__loading-progress-error::-moz-progress-bar {
  background-color: #ff0000;
}
.add-movie__loading-option {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 4px;
  text-align: end;
  margin: 16px 0 0;
  cursor: pointer;
  display: block;
}
.add-movie__loading-ready {
  color: #64eebc;
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 4px;
  text-align: end;
  margin: 16px 0 0;
  display: block;
}
.add-movie__footer {
  display: flex;
  flex-direction: column;
}
.add-movie__success-content {
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  text-align: center;
  padding: 192px 24px 133px;
}
.add-movie__success-content h3 {
  margin: 0;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 4px;
  font-weight: 700;
}
.add-movie__success-content p {
  padding-top: 32px;
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 4px;
  font-weight: 300;
}
.add-movie__success-content-home {
  width: 248px;
  height: 56px;
  padding: 0;
  border: 0;
  border-radius: none;
  font-family: "bebas-neue-by-fontfabric", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 4px;
  margin: 96px 0 24px;
  color: #242424;
}

@media screen and (min-width: 480px) {
  .add-movie__container {
    width: 60vw;
  }
  .add-movie__loading {
    width: 60vw;
  }
}
@media screen and (min-width: 900px) {
  div.modal-dialog {
    width: 730px;
    align-self: center;
    margin: auto;
  }
  div.modal-dialog div.modal-content {
    width: 100%;
    min-height: auto;
    padding: 24px;
  }
  .add-movie__close-button {
    width: 15px;
    height: 15px;
    cursor: pointer;
    align-self: end;
  }
  .add-movie__title {
    font-size: 20px;
    line-height: 20px;
    margin: 9px 0 48px;
  }
  .add-movie__container {
    width: 602px;
    height: 100px;
    margin: 0 0 48px 0;
  }
  .add-movie__divider {
    margin: 0;
  }
  .add-movie__upload-button {
    margin: 48px 0 24px;
  }
  .add-movie__loading {
    width: 602px;
    font-size: 16px;
    line-height: 16px;
    margin: 12px 0 59px 0;
  }
  .add-movie__loading-option {
    font-size: 18px;
    line-height: 18px;
  }
  .add-movie__loading-ready {
    font-size: 18px;
    line-height: 18px;
  }
  .add-movie__success-title {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 4px;
    text-align: center;
    color: #64eebc;
    margin: 0;
    padding-top: 25px;
  }
  .add-movie__success-title span {
    font-weight: 300;
  }
  .add-movie__success-content {
    padding: 72px 0 0;
  }
  .add-movie__success-content p {
    padding-top: 24px;
  }
  .add-movie__success-content-home {
    margin-top: 92px;
  }
}/*# sourceMappingURL=AddMovie.css.map */